.product-container {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.product-image {
  list-style-type: none;
  width: 290px;
  padding: 20px;
  margin: 6px 6px;
  border: 1px solid #33b5e5;
}

.product-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select-input {
  width: 108px;
  margin-top: 8px;
  margin-bottom: 8px;
  word-wrap: normal;
  border-radius: 0.375rem;
  font-size: 1rem;
  line-height: 1.5;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
}

h4 {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

h4:hover {
  color: #00a0c6;
  text-decoration: none;
  cursor: pointer;
}

p {
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 10px;
}

button {
  padding: 20px;
  border-radius: 0.375rem;
  background: #0d6efd;
  border: none;
  color: #ffffff;
  font-size: 15px;
  cursor: pointer;
}
